:root{
    --maroon:#800000;
    --maroonLight:#892D2D;
    font-family: 'Oswald', sans-serif;
}

body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    color: var(--white);
    font-size: 52px;
    font-weight: bold;
}

.header{
    background: rgb(51,0,0);
    background: linear-gradient(180deg, rgba(51,0,0,1) 0%, rgba(70,0,0,1) 10%, rgba(93,0,0,1) 50%, rgba(128,0,0,1) 100%);
}

.fullWidth{
    width: 100%;
}

.fullHeight{
    height: 80vh;
}

.linkCont{
    background-color: var(--maroonLight);
}

input[type=submit]{
    background-color: var(--maroon);
    color: var(--white);
    border-color: var(--maroonLight);
    border-radius: 5px;
    margin-top:  20px;
}
.button{
    background-color: var(--maroon);
    color: var(--white);
    border-color: var(--maroonLight);
    border-radius: 5px;
    margin-top:  20px;
}

.link{
    color: var(--white);
    font-size: 27px;
    font-weight: bold;
    transition: all .5s;
}

.link:hover{
    color: var(--blue);
}

.Invalid{
    color: var(--red);
    font-size: 27px;
    font-weight: bold;
}

.topmarg{
    margin-top: 200px;
}
